
header,nav,section,article,footer{
  background: blue;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding top:1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  margin:1%;
}
    #myCanvas {
/*just to help show canvas size, delete when finished*/
        border:1px solid black;
    }
